@use 'themes';
// TODO parse selectors from bitbucket with a script?
//    {
//         loader: "sass-loader",
//         options: {
//           additionalData: "$bitbucketMain: " + parsedMainSelector + ";",
//         },
//       },
$atlassianProThemeDark: '.atlassian_pro_theme-dark';
$codeEditorAtomOneDark: '.atlassian_pro__code-editor-dark';
$sidebarSelector: '.css-4rxc6l';
$sidebarTabSelector: '.css-1hpn4bw';
$sidebarButtonOnActive: '.css-t3yiul';
$sidebarButton: '.css-1t5na7c';
$sidebarButtonText: '.css-1olrtn';
$sidebarButtonTextActive: '.css-1h2b0g4';
$sidebarRepoName: '.css-ienhqj';
$sidebarRepoNameHover: '.css-ibmu9r';
$sidebarActiveIcon: '.css-1afrefi';
$searchInput: '.css-1s0fs6f';
$searchInputActive: '.css-1e2ir0d';
$searchInputHover: '.css-1pialsq';
$commitRowActive: '.css-95a91x';
$commitRow: '.css-199ngp7';
$pipelinesResultPane: '.css-1t3ixu6';
$pipelinesResultPaneTop: '.css-9inabr';

#{$atlassianProThemeDark} {
  & #{$sidebarSelector} {
    background-color: var(--color-main);
  }

  & #{$sidebarButton} {
    background-color: var(--color-active-surface) !important;
    color: var(--color-active-surface-text-color) !important;
  }

  & #{$sidebarButtonText} {
    color: var(--color-active-surface-text-color) !important;
  }

  & #{$sidebarButtonOnActive}#{$sidebarButtonOnActive} {
    background-color: var(--color-hover) !important;
    color: var(--text-color) !important;

    & #{$sidebarActiveIcon} {
      color: var(--text-color) !important;
    }

    & #{$sidebarButtonTextActive} {
      color: var(--text-color) !important;
    }
  }

  & #{$sidebarButtonTextActive} {
    color: var(--color-active-surface-text-color) !important;
  }

  & #{$sidebarTabSelector}::before {
    background-color: var(--color-main);
  }

  // hide +- icons on diff display
  .code-diff.syntax-highlighted.__rbb_syntax_highlight::before {
    display: none;
  }

  .chunk-heading-wrapper.gutter-width-apply-padding-left,
  .line-numbers.gutter-width-apply-width {
    background-color: var(--color-main) !important;
    color: #fff;
  }

  div[data-testid='renderer-wrapper'] {
    padding: 0.5rem;
    &:hover {
      background-color: var(--color-main);
      border-radius: 15px;
      filter: brightness(85%);
    }
  }

  & #{$sidebarRepoName} {
    background-color: var(--color-main) !important;
    & * {
      color: #fff !important;
    }
  }

  & #{$sidebarRepoNameHover} {
    filter: brightness(85%);
    background-color: var(--color-main) !important;
    border-radius: 15px;
    & * {
      color: #fff !important;
    }
  }

  & .show-more-lines-button {
    background-color: var(--color-main) !important;
  }

  & #{$searchInput} {
    background-color: var(--color-active-surface) !important;
    color: #fff !important;
    border-color: var(--ds-surface-pressed);
  }

  & #{$searchInputActive} {
    background-color: var(--surface-active-gray) !important;
    color: #fff !important;
    border-color: var(--color-hover);
  }

  & #{$searchInputHover} {
    background-color: var(--surface-active-gray) !important;
    color: #fff !important;
    border-color: var(--ds-surface-pressed);
  }

  & #{$commitRowActive} {
    background: var(--color-active-surface) !important;
    box-shadow: none !important;
  }

  & #{$commitRow} {
    &:hover {
      background: var(--color-active-surface) !important;
      box-shadow: none !important;
    }
  }

  & #{$pipelinesResultPane} {
    background-color: var(--color-main) !important;
  }

  & #{$pipelinesResultPaneTop} {
    background-color: var(--color-main) !important;
  }
}

body#{$atlassianProThemeDark} {
  --text-color: #fff;
  --color-main: #1d2125;
  --color-active-surface: #1c2b41;
  --surface-active-gray: #323940;
  --color-active-surface-text-color: #9fadbc;
  --color-hover: #09326c;

  // override bitbucket to dark
  @include themes.bitbucket-dark-mode-colors;
  background-color: var(--color-main);
}

body#{$codeEditorAtomOneDark} {
  --token-color: #aab1be;
  --punctuation-color: #abb2bf;
  --function-color: #61afef;
  --class-color: #c678dd;
  --entity-name-type: #e5c07b;
  --code-text-color: #1d2125;
  --atr-name-color: #d19a66;
  --imports-color: #e06c75;
  --string-color: #98c379;

  & .monaco-editor-background {
    background: var(--code-text-color) !important;
    & .mtk1 {
      color: var(--token-color) !important;
    }
    & .mtk4 {
      color: var(--entity-name-type) !important;
    }
    & .mtk-5 {
      color: var(--function-color) !important;
    }
    & .mtk7 {
      color: var(--function-color) !important;
    }
    & .mtk7 {
      color: var(--atr-name-color) !important;
    }
    & .mtk-9 {
      color: var(--imports-color) !important;
    }
    & .mtk-11 {
      color: var(--string-color) !important;
    }
    & .mtk20 {
      color: var(--token-color) !important;
    }
    & .mtk26 {
      color: var(--function-color) !important;
    }
  }

  pre.code-component {
    background-color: #282c34;
    color: var(--atr-name-color);
    & .token {
      &.function {
        color: var(--function-color);
        font-weight: normal;
      }
      &.class-name {
        color: var(--entity-name-type);
        font-weight: normal;
      }
      &.attr-name {
        color: var(--atr-name-color);
      }
      &.punctuation {
        color: var(--punctuation-color);
      }
      &.tag {
        color: var(--punctuation-color);
      }
      &.property-access {
        color: var(--imports-color);
      }
      &.imports {
        color: var(--imports-color);
      }
      &.string {
        color: var(--string-color);
      }
      &.keyword {
        color: var(--class-color);
      }
      &.keyword.module {
        color: var(--class-color);
      }
      &.number {
        color: var(--atr-name-color);
      }
      &.dom.variable {
        color: var(--punctuation-color);
      }
      &.imports .maybe-class-name {
        color: var(--imports-color);
      }
      &.maybe-class-name {
        color: var(--punctuation-color);
      }
    }
  }
}
