// TODO parse selectors from bitbucket with a script?
//    {
//         loader: "sass-loader",
//         options: {
//           additionalData: "$bitbucketMain: " + parsedMainSelector + ";",
//         },
//       },
$bitbucketMain: '.css-kyhvoj';
$sidebarSelector: '.css-4rxc6l';

#{$bitbucketMain} {
  --color-main: #070f2b;
  & #{$sidebarSelector} {
    background-color: var(--color-main);
  }
}
