@use 'themes';
// TODO parse selectors from bitbucket with a script?
//    {
//         loader: "sass-loader",
//         options: {
//           additionalData: "$bitbucketMain: " + parsedMainSelector + ";",
//         },
//       },
$bitbucketMain: '.css-kyhvoj';
$sidebarSelector: '.css-4rxc6l';
$sidebarTabSelector: '.css-1hpn4bw';
$sidebarButtonOnActive: '.css-t3yiul';
$sidebarButton: '.css-1t5na7c';
$sidebarButtonText: '.css-1olrtn';
$sidebarButtonTextActive: '.css-1h2b0g4';
$sidebarRepoName: '.css-ienhqj';
$sidebarRepoNameHover: '.css-ibmu9r';
$sidebarActiveIcon: '.css-1afrefi';
$searchInput: '.css-1s0fs6f';
$searchInputActive: '.css-1e2ir0d';
$searchInputHover: '.css-1pialsq';

#{$bitbucketMain} {
  & #{$sidebarSelector} {
    background-color: var(--color-main);
  }

  & #{$sidebarButton} {
    background-color: var(--color-active-surface) !important;
    color: var(--color-active-surface-text-color) !important;
  }

  & #{$sidebarButtonText} {
    color: var(--color-active-surface-text-color) !important;
  }

  & #{$sidebarButtonOnActive}#{$sidebarButtonOnActive} {
    background-color: var(--color-hover) !important;
    color: var(--text-color) !important;

    & #{$sidebarActiveIcon} {
      color: var(--text-color) !important;
    }

    & #{$sidebarButtonTextActive} {
      color: var(--text-color) !important;
    }
  }

  & #{$sidebarButtonTextActive} {
    color: var(--color-active-surface-text-color) !important;
  }

  & #{$sidebarTabSelector}::before {
    background-color: var(--color-main);
  }

  // hide +- icons on diff display
  .code-diff.syntax-highlighted.__rbb_syntax_highlight::before {
    display: none;
  }

  .chunk-heading-wrapper.gutter-width-apply-padding-left,
  .line-numbers.gutter-width-apply-width {
    background-color: var(--color-main) !important;
    color: #fff;
  }

  pre.code-component {
    background-color: unset;
    color: #62aeef;
    & .token {
      &.function {
        color: var(--color-token-function);
      }
    }
  }

  div[data-testid='renderer-wrapper'] {
    padding: 0.5rem;
    &:hover {
      background-color: var(--color-main);
      border-radius: 15px;
      filter: brightness(85%);
    }
  }

  & #{$sidebarRepoName} {
    background-color: var(--color-main) !important;
    & * {
      color: #fff !important;
    }
  }

  & #{$sidebarRepoNameHover} {
    filter: brightness(85%);
    background-color: var(--color-main) !important;
    border-radius: 15px;
    & * {
      color: #fff !important;
    }
  }

  & .show-more-lines-button {
    background-color: var(--color-main) !important;
  }

  & #{$searchInput} {
    background-color: var(--color-active-surface) !important;
    color: #fff !important;
    border-color: var(--ds-surface-pressed);
  }

  & #{$searchInputActive} {
    background-color: var(--surface-active-gray) !important;
    color: #fff !important;
    border-color: var(--color-hover);
  }

  & #{$searchInputHover} {
    background-color: var(--surface-active-gray) !important;
    color: #fff !important;
    border-color: var(--ds-surface-pressed);
  }
}

body:has(#{$bitbucketMain}) {
  --text-color: #fff;
  --color-main: #1d2125;
  --color-active-surface: #1c2b41;
  --surface-active-gray: #323940;
  --color-active-surface-text-color: #9fadbc;
  --color-hover: #09326c;
  --color-hover-text: #579dff;
  --color-token: #aab1be;
  --color-token-function: #c678dd;
  // override bitbucket to dark
  @include themes.bitbucket-dark-mode-colors;
  background-color: var(--color-main);
}
